include ./mixins.pug

<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")

    title Portfolio | main page
  body
    .wrapper
      .container
        section.section.main
          .content
            include ./layout/header.pug
            include ./layout/maincontent.pug
            include ./layout/scroll.pug
        section.section.aboutme
          .content__about
            include ./layout/about.pug
        section.section.skills
          .content__skills
            include ./layout/skills.pug
        section.section.contact
          .content__contact
            include ./layout/contact.pug
        footer.footer
          include ./layout/footer.pug
          