.about__left
  .content_info
    .content_info__pic
      +image('content/user.jpg', 'user-pic')
    ul.content_info__disc
      li.discription
        .discription__left
          | Проживаю:
        .discription__right
          | Москва
      li.discription
        .discription__left
          | Возраст:
        .discription__right
          | 29 лет
      li.discription
        .discription__left
          | Родился:
        .discription__right
          | 28 мая 1990
.about__center
  .star
    | *
.about__right
  .subtitle
    | Привет, меня зовут
  .title.title__small
    | Томилин Аркадий
  .subtitle.subtitle--margin
    | Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
  .subtitle.subtitle--italic
    | Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!