header.header
  .header__logo
    a(href='index.html')
        span TA
  .header__btns
    .header__menu
      nav.nav
        ul.nav__list
          li.nav__item
            a.nav__link(href='#2' alt='Ссылка на страницу главная' data-title='Главная')
              | Главная
          li.nav__item
            a.nav__link(href='#3' alt='Ссылка на страницу обо мне' data-title='Обо мне')
              | Обо мне
          li.nav__item
            a.nav__link(href='#4' alt='Ссылка на страницу навыки' data-title='Навыки')
              | Навыки
          li.nav__item
            a.nav__link(href='#5' alt='Ссылка на страницу Работы' data-title='Работы')
              | Работы
          li.nav__item
            a.nav__link(href='#6' alt='Ссылка на страницу Отзывы' data-title='Отзывы')
              | Отзывы
          li.nav__item
            a.nav__link(href='#7' alt='Ссылка на страницу обратная связь' data-title='Связаться')
              | Обратная связь
    .header_right
        ul.socials
            li.socials__item
              .icon-insta
            li.socials__item
              .icon-vk
            li.socials__item
              .icon-git