.skills_left
  +image('content/img/hands.png', 'user-pic')
.skills_right
  .title.title__small.title__small--skill
    | Чем я могу быть полезен вам
  .subtitle.subtitle--skills
    | Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
  .skills_container
    .title.title__small.title__small--skill
      | Front-end
    ul.skills__progress_bar
      li.skills__content
        svg.percentage(viewbox='0 0 100 100', preserveaspectratio='none')
          circle.skill__circle.skill__circle_under(cx='50', cy='50', r='40')
          circle.skill__circle.skill__circle_above(cx='50', cy='50', r='40', style='animation-delay: -10s')
        .skills__subtitle
          | HTML5
      li.skills__content
        svg.percentage(viewbox='0 0 100 100', preserveaspectratio='none')
          circle.skill__circle.skill__circle_under(cx='50', cy='50', r='40')
          circle.skill__circle.skill__circle_above(cx='50', cy='50', r='40', style='animation-delay: -30s')
        .skills__subtitle
          | CSS3
      li.skills__content
        svg.percentage(viewbox='0 0 100 100', preserveaspectratio='none')
          circle.skill__circle.skill__circle_under(cx='50', cy='50', r='40')
          circle.skill__circle.skill__circle_above(cx='50', cy='50', r='40', style='animation-delay: -50s')
        .skills__subtitle
          | Javascript
      li.skills__content
        svg.percentage(viewbox='0 0 100 100', preserveaspectratio='none')
          circle.skill__circle.skill__circle_under(cx='50', cy='50', r='40')
          circle.skill__circle.skill__circle_above(cx='50', cy='50', r='40', style='animation-delay: -100s')
        .skills__subtitle
          | Jquery
          | и Vue.js
    .title.title__small.title__small--skill
      | Workflow
    ul.skills__progress_bar
      li.skills__content
        svg.percentage(viewbox='0 0 100 100', preserveaspectratio='none')
          circle.skill__circle.skill__circle_under(cx='50', cy='50', r='40')
          circle.skill__circle.skill__circle_above(cx='50', cy='50', r='40', style='animation-delay: -10s')
        .skills__subtitle
          | GIT
      li.skills__content
        svg.percentage(viewbox='0 0 100 100', preserveaspectratio='none')
          circle.skill__circle.skill__circle_under(cx='50', cy='50', r='40')
          circle.skill__circle.skill__circle_above(cx='50', cy='50', r='40', style='animation-delay: -30s')
        .skills__subtitle
          | Terminal
      li.skills__content
        svg.percentage(viewbox='0 0 100 100', preserveaspectratio='none')
          circle.skill__circle.skill__circle_under(cx='50', cy='50', r='40')
          circle.skill__circle.skill__circle_above(cx='50', cy='50', r='40', style='animation-delay: -50s')
        .skills__subtitle
          | Gulp
      li.skills__content
        svg.percentage(viewbox='0 0 100 100', preserveaspectratio='none')
          circle.skill__circle.skill__circle_under(cx='50', cy='50', r='40')
          circle.skill__circle.skill__circle_above(cx='50', cy='50', r='40', style='animation-delay: -100s')
        .skills__subtitle
          | Webpack
